<div itemprop="location" itemscope itemtype="http://schema.org/Place">
	<p itemprop="name">
		<strong>George Vari Engineering and Computing Centre</strong>
		at Ryerson University<br/>
	</p>
	<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">245 Church Street</span>, Lecture Theatre.
	</p>
</div>
