<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="GTALUG - Greater Toronto Area Linux User Group">

		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
		<title>{% block page_title %}GTALUG{% endblock page_title %}</title>

		{%- assets filters="less", output="packed.css",
			"less/style.less"
		%}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
		{%- endassets %}

		<link rel="canonical" type="text/html" href="http://gtalug.org{{ request.path }}">

		{% block extra_head %}{% endblock extra_head %}
	</head>
	<body id="www_gtalug_org">
		<div class="container">
			<div class="row">

				<aside itemscope itemtype="http://schema.org/Organization">
					<a href="{{ url_for('index') }}" title="GTALUG - Greater Toronto Area Linux User Group" class="logo" itemprop="logo">
						<img src="/static/img/logo.svg" alt="GTALUG - Greater Toronto Area Linux User Group">
					</a>

					<!-- TODO Write something clever about the group here:
					<p class="lead"></p>
					-->
					<ul>
            <li><a href="https://www.youtube.com/c/GtalugOrg">
              Meeting Videos <small class="glyphicon glyphicon-new-window"></small></a></li>
            <li><a href="https://gettogether.community/gtalug/">GetTogether <small class="glyphicon glyphicon-new-window"></small></a></li>
            <li><a href="{{ url_for('page', path='other-groups') }}">Other Groups</a></li>
            <li><a href="https://mastodon.social/@gtalug">Mastodon <small class="glyphicon glyphicon-new-window"></small></a></li>

						<li><a href="https://www.facebook.com/gtalug">Facebook <small class="glyphicon glyphicon-new-window"></small></a></li>
            <li><a href="https://www.meetup.com/gtalug/">Meetup <small class="glyphicon glyphicon-new-window"></small></a></li>
						<li><a href="https://twitter.com/gtalug">Twitter <small class="glyphicon glyphicon-new-window"></small></a></li>
						<li><a href="mailto:hi@gtalug.org?subject=Hi">Email</a></li>
					</ul>
				</aside>

				<main>

					<nav>
						<ul>
							{% block nav_home %}<li><a href="{{ url_for('index') }}">Home</a></li>{% endblock %}
							{% block nav_meetings %}<li><a href="{{ url_for('meeting_list') }}">Meetings</a></li>{% endblock %}
							{% block nav_about %}<li><a href="{{ url_for('page', path='about') }}">About</a></li>{% endblock %}
							{% block nav_mailing_list %}<li><a href="{{ url_for('page', path='mailing-list') }}">Mailing&nbsp;List</a></li>{% endblock %}
                            {% block nav_wiki %}<li><a href="http://wiki.gtalug.org/">Wiki <small class="glyphicon glyphicon-new-window"></small></a></li>{% endblock %}
						</ul>
					</nav>

					<div class="page">
						{% block page_body %}{% endblock page_body %}
					</div>

					<footer>
						{% block footer %}{% endblock %}
					</footer>
				</main>
			</div>
		</div>
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//piwik.gtalug.org/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 2]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//piwik.gtalug.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
        {% assets output="packed.js", "js/leaflet.js", "js/script.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
	</body>
</html>
