{% extends "base.html" %}

{% block page_title %}GTALUG - Greater Toronto Area Linux User Group{% endblock page_title %}

{% block nav_home %}<li class="active"><a href="{{ url_for('index') }}">Home</a></li>{% endblock %}

{% block page_body %}
<article itemscope itemtype="http://schema.org/Event">
	<header class="page-header">
		<h2>
			<span itemprop="name">
				<a href="{{ url_for('meeting_detail', slug=meeting.path) }}" itemprop="url">{{ meeting.meeting_title | typogrify | safe }}</a>
			</span>
			{% if meeting.meeting_speaker %}
			<span itemprop="performer" itemscope itemtype="http://schema.org/Person">
				with&nbsp;<a href="{{ meeting.meeting_speaker_link }}" itemprop="name">{{ meeting.meeting_speaker | typogrify | safe }}</a>
			</span>
			{% elif meeting.meeting_speakers %}
			with
			{% for speaker in meeting.meeting_speakers %}
			{{ speaker | typogrify | safe }}{% if not loop.last and not loop.length == 2 %}, {% endif %}
			{% if loop.revindex == 2 %} and {% endif %}
			{% endfor %}
			{% endif %}
		</h2>
		<p class="lead" itemprop="startDate" content="{{ meeting.meeting_datetime }}">
			{{ meeting.meeting_datetime.strftime("%d %B, %Y at %I:%M %p") }}
		</p>
	</header>

  {% if meeting.meeting_youtube_id %}
    <section itemprop="video">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ meeting.meeting_youtube_id }}?rel=0" frameborder="0" allowfullscreen></iframe>
    </section>
    {% elif meeting.meeting_youtube_playlist %}
    ​<iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/videoseries?list={{ meeting.meeting_youtube_playlist }}" frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen>
    </iframe>
  {% endif %}

	<section itemprop="description">
		{{ meeting.html|safe }}
	</section>

	<footer>
		{% if meeting.meeting_location_template or meeting.meeting_location %}
		<div class="location">
			<h3>Location</h3>
			{% if meeting.meeting_location_template %}
			{% include meeting.meeting_location_template %}
			{% else %}
			{{ meeting.meeting_location }}
			{% endif %}
		</div>
		{% endif %}

		{% if meeting.meeting_schedule_template %}
		<div class="schedule">
			<h3>Schedule</h3>
			{% include meeting.meeting_schedule_template %}
		</div>
		{% endif %}

    <div class="code-of-conduct">
      <h3>Code of Conduct</h3>
      {% include "_coc/2015.html" %}
    </div>
	</footer>
</article>
{% endblock %}